.topbar
  .container
    a.topbar__logo(href="#")
    nav.topbar__nav
      ul
        li: a(data-scroll, href="#section-production") О продукте
        li: a(data-scroll, href="#section-features") Характеристики
        li: a(data-scroll, href="#section-howitworks") Как работает?
        li: a(data-scroll, href="#section-tips") Рекомендации
